# File: .github/workflows/workflow.yml

on: [push]

name: AzureLoginSample

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS_SUNILNGVLI_SDK }}
    
    # - name: Check Azure connection
    #   run: |
    #     az account show
        
    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        azcliversion: 2.45.0
        inlineScript: |
          az account show
          az storage -h

    - name: Code checkout with v2
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.4.0
    
    - name: Terraform version check
      run: |
        terraform -version
    
    - name: Check files
      working-directory: ./core/
      run: |
        ls -l
    
    - name: Terraform init
      id: init
      working-directory: ./core/
      run: |
        terraform init
    
    - name: Terraform Plan
      id: plan
      working-directory: ./core/
      run: |
        terraform plan -var-file=dev.tfvars -out=dev.tfplan
      
