# File: .github/workflows/az-login.yml
name: Terraform IAC

on:
  workflow_dispatch:

env:
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_SUNILNGVLI }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET_SUNILNGVLI }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID_SUNILNGVLI }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID_SUNILNGVLI }}

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
    - name: Code checkout with v2
      uses: actions/checkout@v2
    
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS_SUNILNGVLI_SDK }}
    
    - name: Check Azure connection
      run: |
        az account show

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.4.0
    
    - name: Terraform version check
      run: |
        terraform -version
    
    - name: Check files
      working-directory: ./core/
      run: |
        ls -l
    
    - name: Terraform Init
      id: init
      working-directory: ./core/
      run: |
        terraform init
    
    - name: Terraform Plan
      id: plan
      working-directory: ./core/
      run: |
        terraform plan -var-file=dev.tfvars -out=dev.tfplan

    - name: Terraform Apply
      id: apply
      working-directory: ./core/
      run: |
        terraform apply "dev.tfplan"
      
