# File: .github/workflows/az-login.yml
name: Terraform IAC

on:
  workflow_dispatch:
    inputs:
      tf_action:
        description: "Terraform Apply or Destroy (def: validate)"
        default: "validate"
        type: "string"

env:
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID_SUNILNGVLI }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET_SUNILNGVLI }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID_SUNILNGVLI }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID_SUNILNGVLI }}

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
    - name: Code checkout with v2
      uses: actions/checkout@v2

    - name: Check files
      working-directory: ./core/
      run: |
        ls -l

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.4.0
    
    - name: Terraform version check
      run: |
        terraform -version
    
    - name: Terraform Init
      id: init
      working-directory: ./core/
      run: |
        terraform init
    
    - name: Terraform Plan
      id: plan
      working-directory: ./core/
      run: |
        if [[ ${{ inputs.tf_action }} == "apply" ]]; then
          terraform plan -var-file=dev.tfvars -out=dev.tfplan
        elif ${{ inputs.tf_action }} == "destroy"; then
            terraform plan -var-file=dev.tfvars -destroy
        else
          terraform validate
        fi

    - name: Terraform Action Apply/Destory
      id: terraform-action
      working-directory: ./core/
      run: |
        terraform ${{ inputs.tf_action }}
      
